.pageRoot {
  padding: 0px 20px;
}
.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.otherItem {
  height: 100px;
  overflow-y: scroll;
}

.dateText {
  font-weight: 500;
  text-align: start;
  padding: 12px 0px 3px;
}
